.specefication {
  background-color: #111;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
    overflow: hidden;
  }

  &__title {
    color: #aa9666;
    font-size: 25px;
    text-align: right;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &--right {
      right: -50px;
    }

    &--left {
      left: -50px;
    }
  }

  &__row {
    width: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    max-width: 900px;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  &__item {
    width: 200px;
    height: 200px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  &__image {
    height: 50%;
  }

  &__text {
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
