.landing {
  height: 100vh;
  width: 100%;
  background-image: url("../../assets/images/4.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: color;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  &__header {
    height: 100px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
  }

  &__logo {
    height: 120px;
    width: 120px;
    object-fit: contain;
    @media (min-width: 600px) {
      height: 140px;
      width: 140px;
    }
  }

  &__icon {
    height: 50px;
    width: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    @media (min-width: 600px) {
      display: none;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
    max-width: 1000px;
    margin: 0 auto;
    width: 90%;
    @media (min-width: 600px) {
      align-items: flex-end;
    }
  }

  &__detail {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  &__detail-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    @media (max-width: 600px) {
      svg {
        height: 40px;
      }
    }
  }

  &__fa-title,
  &__en-title {
    position: relative;
    color: #fff;
    display: inline-block;
    z-index: 1;
    font-size: 40px;
    @media (min-width: 600px) {
      font-size: 70px;
    }
  }

  &__fa-title::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 70%;
    left: 50%;
    height: 7px;
    width: 100%;
    background-color: #aa9666;
    transform: translate(-50%, -50%);
    @media (min-width: 600px) {
      height: 10px;
    }
  }
}
