.about {
  height: 100vh;
  width: 100%;
  background-image: url("../../assets/images/3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: color;
  position: relative;

  &__content {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 0;
    color: #fff;
  }

  &__title {
    font-size: 30px;
    padding-bottom: 20px;
    position: relative;
    display: inline-block;
    z-index: 2;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #aa9666;
      height: 7px;
      width: 100%;
      z-index: -1;
      @media (min-width: 600px) {
        height: 10px;
      }
    }
  }

  &__desc {
    line-height: 30px;
    border-bottom: 2px solid #aa9666;
    padding-bottom: 20px;
    margin-bottom: 20px;
    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}
