.gallery {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px 0;

  &__header {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 70px;
  }

  &__title {
    font-size: 30px;
    position: relative;
    z-index: 2;
    display: inline-block;

    &::after {
      content: "";
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 10px;
      width: 100%;
      background: #aa9666;
      z-index: -1;
    }
    @media (min-width: 600px) {
      font-size: 40px;
    }
  }

  &__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  &__first {
    width: 30%;
    margin-inline-end: 10px;

    .gallery__image {
      &:nth-child(1),
      &:nth-child(2) {
        height: 400px;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  &__second {
    width: 40%;
    margin-inline-end: 10px;

    &-sec1 {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 100%;

      .gallery__image-sec1 {
        height: 400px;
        width: 60%;
      }
    }

    &-sec2 {
      width: 50%;
      margin-inline-end: 10px;

      .gallery__image:nth-child(1),
      .gallery__image:nth-child(2) {
        height: 195px;
      }
    }

    &-sec3 {
      height: 400px;
      width: 100%;
    }
  }

  &__third {
    width: 30%;

    .gallery__image {
      &:nth-child(1),
      &:nth-child(2) {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }

      &:nth-child(1) {
        height: 300px;
      }

      &:nth-child(2) {
        height: 500px;
      }
    }
  }

  &__image {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    cursor: pointer;
  }

  @media (max-width: 1000px) {
    &__row {
      flex-direction: column;
    }

    &__first,
    &__second,
    &__third {
      width: 100%;
      max-width: 400px;
      margin-inline-end: 0;
    }

    &__second {
      &-sec1 {
        flex-direction: column;
        width: 100%;
        .gallery__image:nth-child(1),
        .gallery__image:nth-child(2) {
          height: 250px;
        }
        .gallery__image-sec1 {
          width: 100%;
        }
      }
      &-sec2 {
        width: 100%;
      }

      .gallery__second-sec3 {
        margin-top: 10px;
      }
    }
  }

  &__modal {
    position: fixed;
    top: 0;
    left: 50%;
    height: 100%;
    width: 0;
    overflow: hidden;
    transform: translateX(-50%);
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.56);
    display: flex;
    justify-content: center;
    align-items: center;

    &-close {
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 2%;
      right: 2%;
      color: #fff;
      font-size: 30px;
      cursor: pointer;
    }

    &--open {
      width: 100%;
    }
    &-image {
      position: relative;
      height: 100%;
      width: 100%;
      max-width: 800px;
      object-fit: contain;

      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
      }
    }
  }
}
